################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AbstractFactoryPattern/.vs
/AbstractFactoryPattern/AbstractFactory/bin/Debug/netcoreapp3.1
/AbstractFactoryPattern/AbstractFactoryClient/bin/Debug/netcoreapp3.1
/AbstractFactoryPattern/AbstractFactoryClient/obj
/AdapterPattern/.vs
/AdapterPattern/AdapterPattern/bin/Debug
/AdapterPattern/AdapterPattern/obj
/BridgeDesignPattern/.vs/BridgeDesignPattern
/BridgeDesignPattern/BridgeDesignPattern/bin/Debug
/BridgeDesignPattern/BridgeDesignPattern/obj
/BuilderDesignPattern/.vs
/BuilderDesignPattern/BuilderDesignPattern/bin/Debug/net5.0
/BuilderDesignPattern/BuilderDesignPattern/obj
/ChainOfResponsibilityDesignPattern/.vs
/ChainOfResponsibilityDesignPattern/ChainOfResponsibilityDesignPattern/bin/Debug/netcoreapp3.1
/ChainOfResponsibilityDesignPattern/ChainOfResponsibilityDesignPattern/obj
/ChainOfResponsibilityDesignPattern/ChainOfResponsibilityDesignPattern.Client/bin/Debug/netcoreapp3.1
/ChainOfResponsibilityDesignPattern/ChainOfResponsibilityDesignPattern.Client/obj
/CommandDesignPattern/.vs/CommandDesignPattern
/CommandDesignPattern/CommandDesignPattern/bin/Debug/netcoreapp3.1
/CommandDesignPattern/CommandDesignPattern/obj
/Console.CQRS.Pattern/.vs
/Console.CQRS.Pattern/Console.CQRS.Pattern/bin/Debug/netcoreapp3.1
/Console.CQRS.Pattern/Console.CQRS.Pattern/obj
/DecoratorPattern/.vs/DecoratorPattern
/DecoratorPattern/DecoratorPattern/bin/Debug/net5.0
/DecoratorPattern/DecoratorPattern/obj
/FacadePattern/.vs
/FacadePattern/FacadePattern/bin/Debug/net5.0
/FacadePattern/FacadePattern/obj
/FactoryDesignPattern/.vs
/FactoryDesignPattern/FactoryDesignPattern/bin/Debug/netcoreapp3.1
/FactoryDesignPattern/FactoryDesignPattern/obj
/FactoryDesignPattern/FactoryPatternClient/bin/Debug/netcoreapp3.1
/FactoryDesignPattern/FactoryPatternClient/obj
/FactoryMethodDesignPattern/.vs/FactoryMethodDesignPattern/v17
/FactoryMethodDesignPattern/FactoryMethodDesignPattern/obj
/FluentInterfaceDesignPattern/.vs/FluentInterfaceDesignPattern
/FluentInterfaceDesignPattern/FluentInterfaceDesignPattern/bin/Debug/net5.0
/FluentInterfaceDesignPattern/FluentInterfaceDesignPattern/obj
/MasterInJavaScript/.vs/MasterInJavaScript
/MasterInJavaScript/MasterInJavaScript/bin
/MasterInJavaScript/MasterInJavaScript/obj
/ObserverPattern/.vs/ObserverPattern/v17
/ObserverPattern/ObserverPattern/bin/Debug
/ObserverPattern/ObserverPattern/obj
/PrototypeDesignPattern/.vs/PrototypeDesignPattern/v17
/PrototypeDesignPattern/PrototypeDesignPattern/obj
/PrototypeDesignPattern/PrototypeDesignPattern/bin/Debug
/ProxyDesignPattern/.vs/ProxyDesignPattern
/ProxyDesignPattern/ProxyDesignPattern/bin/Debug/net5.0
/ProxyDesignPattern/ProxyDesignPattern/obj
/SingletonDesignPattern/.vs
/SingletonDesignPattern/SingletonClient/bin/Debug/netcoreapp3.1
/SingletonDesignPattern/SingletonClient/obj
/SingletonDesignPattern/SingletonDesignPattern/bin/Debug/netcoreapp3.1
/SingletonDesignPattern/SingletonDesignPattern/obj
/StrategyPattern/.vs/StrategyPattern/v17
/StrategyPattern/StrategyPattern/bin/Debug
/StrategyPattern/StrategyPattern/obj
/TemplateMethodPattern/.vs/TemplateMethodPattern
/TemplateMethodPattern/TemplateMethodPattern/bin/Debug/net5.0
/TemplateMethodPattern/TemplateMethodPattern/obj
/AbstractFactoryPattern/AbstractFactory/obj/Debug/netcoreapp3.1
/AbstractFactoryPattern/AbstractFactory/obj/Release/netcoreapp3.1
/AbstractFactoryPattern/AbstractFactory/obj
/CommandDesignPattern/CommandDesignPattern.Client/bin/Debug/netcoreapp3.1
/CommandDesignPattern/CommandDesignPattern.Client/obj/Debug/netcoreapp3.1
/CommandDesignPattern/CommandDesignPattern.Client/obj/Release/netcoreapp3.1
/CommandDesignPattern/CommandDesignPattern.Client/obj
/DoubletonDesignPattern/.vs/DoubletonDesignPattern
/DoubletonDesignPattern/DoubletonClient/bin/Debug/net6.0
/DoubletonDesignPattern/DoubletonClient/obj
/DoubletonDesignPattern/DoubletonDesignPattern/bin/Debug/net6.0
/DoubletonDesignPattern/DoubletonDesignPattern/obj
